@use "./abstracts/abstracts"as ab;
@use "./vendors/vendors";
@use "./base/base";
@use "./components/components";
@use "./layout/layout";
@use "./pages/pages";
@use "./themes/themes";
@use "./settings";

body {
    background-color: ab.$color-fondo;

    .container {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;

        .main {
            display: flex;
            margin-top: 40px;

            .content {
                width: 55%;
            }

            .decorative {
                width: 45%;
                height: 70vh;
                display: grid;
                gap: 20px;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(6, 1fr);
                grid-template-areas: 
                "box1 box2 ."
                "box1 box2 box3"
                "box1 box5 box3"
                "box1 box5 box3"
                "box4 box5 box3"
                "box4 box5 .";

                .decorative--box1 {
                    grid-area: box1;
                    background-color: ab.$bg-color-box1;
                    border-radius: 60px;
                    overflow: hidden;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                
                    img {
                        width: 100%;
                        height: auto;
                        transform: scale(4.4) translateY(-7px);
                        translate: 4px;
                        transition: transform 0.3s ease-in-out;
                    }

                    &:hover img {
                        transform: scale(4.7) translateY(-7px);
                    }
                }

                .decorative--box2 {
                    grid-area: box2;
                    background-color: ab.$bg-color-box2;
                    border-radius: 60px;
                    overflow: hidden;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;

                    img {
                        width: 100%;
                        height: auto;
                        transform: scale(3.2) translateY(20px);
                        transition: transform 0.3s ease-in-out;
                    }

                    &:hover img {
                        transform: scale(3.5) translateY(20px);
                    }
                }

                .decorative--box3 {
                    grid-area: box3;
                    background-color: ab.$bg-color-box3;
                    border-radius: 60px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 100%;
                        height: auto;
                        transform: scale(3);
                        translate: -70px;
                        transition: transform 0.3s ease-in-out;
                    }

                    &:hover img {
                        transform: scale(3.3);
                    }
                }
                
                .decorative--box4 {
                    grid-area: box4;
                    background-color: ab.$bg-color-box4;
                    border-radius: 60px;
                    overflow: hidden;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;

                    img {
                        width: 100%;
                        height: auto;
                        transform: scale(3.5) translateY(-26px);
                        translate: 6px;
                        transition: transform 0.3s ease-in-out;
                    }

                    &:hover img {
                        transform: scale(3.8) translateY(-26px);
                    }
                }
                
                .decorative--box5 {
                    grid-area: box5;
                    background-color: ab.$bg-color-box5;
                    border-radius: 60px;
                    overflow: hidden;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;

                    img {
                        width: 100%;
                        height: auto;
                        transform: scale(3.5) translateY(-26px);
                        translate: 6px;
                        transition: transform 0.3s ease-in-out;
                    }

                    &:hover img {
                        transform: scale(3.8) translateY(-26px);
                    }
                }
            }

        }
    }
}