@use "./abstracts/abstracts"as ab;
@use "./vendors/vendors";
@use "./base/base";
@use "./components/components";
@use "./layout/layout";
@use "./pages/pages";
@use "./themes/themes";
@use "./settings";

body {
    background-color: ab.$color-fondo;
    background-image: url(../img/ellipse-L.svg), url(../img/ellipse-M.svg);
    background-size: 60%, 40%;
    background-repeat: no-repeat;
    background-position: 125% -100%, 105% 400%;

    .container {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;

        .main {
            display: flex;
            justify-content: space-between;

            .content {
                width: 45%;
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                h1 {
                    line-height: 70px;
                }

                p {
                    width: 83%;
                    line-height: 30px;
                }

                .links {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 20px;

                    div {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 5px;

                        a {
                            color: ab.$color-blanco-texto;
                            font-size: 14px;
                            transition: all 0.3s ease-in-out, transform 0.2s ease-in-out;

                            &:hover {
                                transform: scale(1.05);
                            }
                        }

                        img {
                            width: 25%;
                            transition: all 0.3s ease-in-out, transform 0.2s ease-in-out;

                            &:hover {
                                transform: scale(1.15);
                                cursor: pointer;
                            }
                        }
                    }
                }

                .activities {
                    display: flex;
                    margin-top: 90px;
                    width: 75%;
                    gap: 32px;

                    .activities--box {
                        display: flex;
                        gap: 10px;
                        align-items: center;

                        img {
                            width: 45px;
                            transition: all 0.3s ease-in-out, transform 0.2s ease-in-out;

                            &:hover {
                                transform: scale(1.15);
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .decorative {
                width: 50%;
                height: 76vh;
                display: grid;
                gap: 20px;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(6, 1fr);
                grid-template-areas: 
                "box1 box2 ."
                "box1 box2 box3"
                "box1 box5 box3"
                "box1 box5 box3"
                "box4 box5 box3"
                "box4 box5 .";

                .decorative--box1 {
                    grid-area: box1;
                    background-color: ab.$bg-color-box1;
                    border-radius: 60px;
                    overflow: hidden;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                
                    img {
                        width: 100%;
                        height: auto;
                        transform: scale(4.3) translateY(-7px);
                        translate: 4px;
                        transition: transform 0.3s ease-in-out;
                    }

                    &:hover img {
                        transform: scale(4.6) translateY(-7px);
                        cursor: pointer;
                    }
                }

                .decorative--box2 {
                    grid-area: box2;
                    background-color: ab.$bg-color-box2;
                    border-radius: 60px;
                    overflow: hidden;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;

                    img {
                        width: 100%;
                        height: auto;
                        transform: scale(3.1) translateY(22px);
                        transition: transform 0.3s ease-in-out;
                    }

                    &:hover img {
                        transform: scale(3.4) translateY(22px);
                        cursor: pointer;
                    }
                }

                .decorative--box3 {
                    grid-area: box3;
                    background-color: ab.$bg-color-box3;
                    border-radius: 60px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 100%;
                        height: auto;
                        transform: scale(2.9) translateX(-3px);
                        translate: -70px;
                        transition: transform 0.3s ease-in-out;
                    }

                    &:hover img {
                        transform: scale(3.2) translateX(-3px);
                        cursor: pointer;
                    }
                }
                
                .decorative--box4 {
                    grid-area: box4;
                    background-color: ab.$bg-color-box4;
                    border-radius: 60px;
                    overflow: hidden;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;

                    img {
                        width: 100%;
                        height: auto;
                        transform: scale(3.3) translateY(-28px);
                        translate: 6px;
                        transition: transform 0.3s ease-in-out;
                    }

                    &:hover img {
                        transform: scale(3.6) translateY(-28px);
                        cursor: pointer;
                    }
                }
                
                .decorative--box5 {
                    grid-area: box5;
                    background-color: ab.$bg-color-box5;
                    border-radius: 60px;
                    overflow: hidden;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;

                    img {
                        width: 100%;
                        height: auto;
                        transform: scale(3.5) translateY(-25px);
                        translate: 6px;
                        transition: transform 0.3s ease-in-out;
                    }

                    &:hover img {
                        transform: scale(3.8) translateY(-25px);
                        cursor: pointer;
                    }
                }
            }

        }
    }
}